#menu{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 39rem;
}

@media (max-width:768px) {
    #introduccion {
        width: 90% !important;
    }
}

footer{
    background-color: #1b2a4b;
    min-height: 100px;
}

footer p{
    color: #f3f3f3;
    text-align: center;
}

#iconos{
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;

}